.img-container{
height:300px;
width: 658px;
}
img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.button-true{
  background-color:#0dab6e;
  color: #fff;
}
.button-false{
  background-color: #b417a2;
  color: #fff;
}
.thumb-fail{
  color: #b417a2;
}
.thumb-sucess{
  color: #0dab6e;;
}
